.navbar{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(8, 8, 8);
    
}
.one a{
    text-decoration: none;
    color: white;

}
.H a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.one li {
    
    float:left;
    display: inline-block;
    margin: 0px;
    padding: 39px;
    font-size: larger;
    color: white;
    font-weight: bold;
}
.one{
 position: absolute;
 right: 0px;
 display: flex;

}

#h3 a{
    
    color: black;
    
    
}
#h3{
    background-color: white;
}

.bar{
    border-radius: 2px;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;

    
}
.boxbar{
   display: none;
}
.hdiv{
    height: 635px;
    width:250px;
    position: absolute;
    display: inline-block;
    background-color: rgb(233, 231, 231);
    transition: left 0.5s ease;

}

.H div{
    margin: 20px;
    margin-left: 20px;
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    
    
}

#H3 a{
    
    color: white;
}
#H3{
    background-color: black;
}
#H1,#H2,#H3,#H4{
    padding-left: 70px;

}
#H1:hover,#H2:hover,#H3:hover,#H4:hover,#H1:hover a,#H2:hover a,#H3:hover a,#H4:hover a{
    background-color: black;
    color: white;
    cursor: pointer;
    

}
.hdiv1,.hdiv2{
    left: -4000px;

}
#h1:hover,#h2:hover,#h3:hover,#h4:hover,#h1:hover a,#h2:hover a,#h3:hover a,#h4:hover a
{
    background-color: white;
    color: black;
    cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
 input,#state{
     height: 30px;
                width: 300px;
                margin: 10px;
            }
            #form{
                display: inline-block;
                width: 430px;
               
                border: 2px solid black;
                margin-left: 20px;
                left: 500px;
                overflow: hidden;
                padding: 20px;
                margin-bottom: 20px;
            }
            label{
                margin: 15px;
            }
            button{
                margin: 20px;
                margin-left: 100px;
                height: 40px;
                width: 80px;
                border-radius: 20px;
                background-color: rgb(14, 12, 26);
                color:white;
                font-weight: bold;
                
            }
            #empbutton{
                height: 40px;
                width: 120px;
                display:block
            }
            button:hover{
                cursor:pointer;
            }
            .f,.m{
                 display: inline-block;
                 height: 20px;
                width: 30px;
                margin: 10px;
            }
            .checkbox{
                display: inline-block;
                 height: 20px;
                width: 30px;
                margin: 10px;
                margin-bottom: 30px;
            }
            textarea{
                margin-bottom: 10px;
                width: 300px;
                height: 300px;
                resize: none;
                overflow: hidden;
            }
    .outerbox{
          display: flex;
          justify-content:space-evenly; 
           flex-wrap:wrap-reverse;
           
    }
    .box1{
        min-height:1000px;
         min-width:500px; 
         background-color:rgb(255, 251, 251);
          display:inline-block;
          
    }
    .box2{
       
        width:513px; 
        background-color:rgb(106, 103, 103);
        display:inline-block;
        height: 900px;
    }
    .box3{
        width:513px; 
        display: flex;
    }
    .box1,.box2{
        top: 10px;
        margin-top: 20px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      
    }
    th, td {
      border: 1px solid #555;
      padding: 10px;
      text-align: left;
      word-wrap: break-word;
    }
    th {
      background-color: #f2f2f2;
    }

@media (max-width: 800px) {
.boxbar{
    margin: 30px;
margin-left: -58%;
    display: inline-block;
}
.one{
    display:none;
}
.boxbar:hover{
    cursor: pointer;
}
.img{
    margin-left: 35%;

}
.hdiv1{
    left: -4000px;

}
.hdiv2{
    left:0px;
}
.outerbox{
    flex-wrap: wrap-reverse;
}

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
